/* language start & end area */
.col-md-6{
  width: 30%;
  position: fixed;
}
#startDrop {
  top: 0%;
  right: 48%;
 }
#endDrop {
  top: 0%;
  right: 23%;
}


.languages {
  width: 25%;
  position: fixed;
  top: 15px;
  right: 30%;
  z-index: 0;
  /*border: solid 1px black;*/
}
#blackArrow {
  max-width: 50px;
  min-width: 40px;
  position: fixed;
  top: 15%;
  right: 40%;
  z-index: 0;
  border: solid 1px black;
}
#greenArrow {
  max-width: 50px;
  min-width: 40px;
  position: fixed;
  top: 15%;
  right: 65%;
  z-index: 0;
  /*border: solid 1px black;*/
}
#startLang {
  width: 15%;
  position: fixed;
  top: 90px;
  right: 55%;
  z-index: 0;
  /*border: solid 1px black;*/
}
#endLang {
  width: 15%;
  position: fixed;
  top: 90px;
  right: 30%;
  z-index: 0;
  /*border: solid 1px black;*/
}
/* end language start & end area */


/* OPTIONAL checking answers area */
#guessHeader {
  visibility: hidden;
  position: fixed;
  top: 63%;
  right: 80%;
  /*border: solid 1px black;*/
}
#greenArrow2 {
  visibility: hidden;
  /*border: solid 1px black;*/
}
#guess {
  visibility: hidden;
  position: fixed;
  top: 83%;
  right: 77%;
  /*border: solid 1px black;*/
  /*border: solid 1px black;*/
}
      /* validation area */
#correct {
  visibility: hidden;
  position: fixed;
  top: 70%;
  right: 32%;
  /*border: solid 1px black;*/
}
#wrong {
  visibility: hidden;
  position: fixed;
  top: 70%;
  right: 38%;
  /*border: solid 1px black;*/
}
#answerHeader {
  visibility: hidden;
  position: fixed;
  top: 63%;
  right: 40%;
  /*border: solid 1px black;*/
}
#answer {
  visibility: hidden;
  position: fixed;
  top: 83%;
  right: 37%;
  /*border: solid 1px black;*/
}
#greenArrowGuess {
  visibility: hidden;
  max-width: 60px;
  min-width: 50px;
  position: fixed;
  top: 76%;
  right: 84%;
}
#blackarrowGuess {
  visibility: hidden;
  max-width: 60px;
  min-width: 50px;
  position: fixed;
  top: 76%;
  right: 45%;
  /*border: solid 1px black;*/
}
      /* endvalidation area */

/* end checking answers area */
