{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
      <div class="one">
        <h1 class="align">{{ title }}</h1>

        <form class="form">
          <div class="form-group">
            <label for="user-name"></label>
            <input type="text" class="form-control" id="user-name" name="name" placeholder="Enter your name" required>
          </div>
          <button type="submit" class="btn btn-danger align">Welcome</button>
        </form>
      </div>
    </div>
  </div>

  <div id="user-table">

      <h2>All Users</h2>

      <div>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Options</th>
            </tr>
          </thead>
          <tbody id="all">
          </tbody>
        </table>
      </div>

    </div>


  <form id="edit-form">
    <h2>Edit User</h2>
    <div class="form-group">
      <input type="text" class="form-control" id="edit-name">
    </div>
    <button type="submit" class="btn btn-primary update-button">Update</button>
    <button class="btn btn-success" id="cancel-edit">Cancel</button>
  </form>



{% endblock %}
