{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}
<div class="jumbotron">
  <div>
    <h1 class="align spacing">Practice your Sick Translation Skills</h1>
  </div>
</div>

<div>
  <div class="row">
    <div class="col-md-6">
      <div class="dropdown align spacing">
        <button class="btn btn-default dropdown-toggle prac-dropdown" type="button" id="languageSelect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Select Language
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu inline" aria-labelledby="dropdownMenu1">
          <li><a href="#">English</a></li>
          <li><a href="#">Spanish</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">English</a></li>
          <li><a href="#">Spanish</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
    </div>

    <div class="col-md-6">
      <div class="dropdown align spacing">
        <button class="btn btn-default dropdown-toggle prac-dropdown" type="button" id="langugeTranslate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Translation Language
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu inline" aria-labelledby="dropdownMenu1">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">English</a></li>
          <li><a href="#">Spanish</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>rs
        </ul>
      </div>
    </div>

  </div>
  <div class="push-down">
    <form class="form" method="post" action="/submit">
      <div class="form-group">
        <input type="text" class="form-control" id="wordInput" name="name" placeholder="Enter Word to Translate">
      </div>
      <div class="align">
        <button type="submit" class="btn btn-success align btn-width">Submit</button>
      </div>
    </form>
  </div>
  <div class="align spacing border-top">
    <button type="submit" class="btn btn-danger btn-lg">Play Challenge!</button>
  </div>
</div>





{% endblock %}
