{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}
<div class="jumbotron">
  <div>
    <h1 class="align spacing">Practice your Sick Translation Skills</h1>
  </div>
</div>

<div>
  <div class="row">
    <div class="col-md-6">
      <div class="dropdown align spacing">
        <form id="languageSelectForm">
           <label for="Language">Language to translate from</label>
           <select class="form-control inline" id="languageSelect">
              <option value="en">English</option>
              <option value="es">Spanish</option>
              <option value="fr">French</option>
           </select>
        </form>

      </div>
    </div>

    <div class="col-md-6">
      <div class="dropdown align spacing">
        <form id="languageTranslateForm">
          <label for="Language">Language to translate to</label>
          <select class="form-control inline" id="languageTranslate">
            <option value="en">English</option>
            <option value="es">Spanish</option>
            <option value="fr">French</option>
          </select>
        </form>
      </div>
    </div>

  </div>
  <div class="push-down">
    <form class="form" method="post" action="/submit">
      <div class="form-group">
        <input type="text" class="form-control" id="wordInput" name="name" placeholder="Enter Word to Translate" required>
      </div>
      <div class="align">
        <button type="button" class="btn btn-success align btn-width">Submit</button>
      </div>
    </form>
  </div>
  <div id="result">

  </div>
  <div class="align spacing border-top">
    <a href="/play" class="btn btn-danger btn-lg">Play Challenge!</a>
  </div>
</div>





{% endblock %}
