{% extends 'layout.html' %}
{% block title %}{% endblock %}
{% block content %}
<div class="container">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{user.name}}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"></div>
                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Challenges Taken:</td>
                        <td>Programming</td>
                      </tr>
                      <tr>
                        <td>Challenged Passed:</td>
                        <td>06/23/2013</td>
                      </tr>
                      <tr>
                        <td>Challenges Failed:</td>
                        <td>01/24/1988</td>
                      </tr>
                      <tr>
                        <td>Words Translated:</td>
                        <td>Male</td>
                      </tr>
                      <tr>
                        <td>Words Translated Correctly:</td>
                        <td>Male</td>
                      </tr>
                      <tr>
                        <td>Words Translated Incorrectly:</td>
                        <td>{{user.id}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="form-group">
                    <div>
                      <a href="/practice/{{user.id}}" class="btn btn-success align btn-width">Practice</a>
                      <a href="/play/{{user.id}}" class="btn btn-danger align btn-width">Challenge</a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 {% endblock %}
