body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.inline{
    margin-left: 25%;
    width: 50%;
}


.form{
  margin: auto;
  width: 50%;
}

.align{
  text-align: center;
}

.right{
  float: right;
}

.spacing{
  margin: 20px;
}

.prac-dropdown {
  font-size: 25px;
}

.btn-lg {
  font-size: 30px;
}

.btn-width {
  width: 25%;
}

.border-top {
  border-top: solid 1px #ccc;
  margin-top: 10%;
  padding-top: 5%;
}

.push-down{
  margin-top: 10%;
}
