body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.inline{
    margin-left: 25%;
    width: 50%;
}


.form{
  margin: auto;
  width: 50%;
}

.align{
  text-align: center;
}

.right{
  float: right;
}

.spacing{
  margin: 20px;
}

.prac-dropdown {
  font-size: 25px;
}

.btn-lg {
  font-size: 30px;
}

.btn-width {
  width: 25%;
}

.border-top {
  border-top: solid 1px #ccc;
  margin-top: 10%;
  padding-top: 5%;
}

.push-down{
  margin-top: 10%;
}




/* logo/ timer area */
.logo {

}
#timer {

}
/* end logo/ timer area */


/* language start & end area */
.languages {

}
#start {

}
#arrow1 {

}
#end {

}
#startLang {

}
#endLang {

}
/* end language start & end area */



/* play area */
.playArea {

}
#word {

}
#arrow2 {

}
#guessInput {

}
/* end play area */



/* checking answers area */
#guessHeader {

}
#greenArrow {

}
#guess {

}
      /* validation area */
#correct {

}
#wrong {

}
      /* endvalidation area */

/* end checking answers area */


/* progress bar area */
.progressBar {

}
#progress {

}
#challenges {

}
#circle1 {

}
#words {

}
#circle2 {

}
/* end progress bar area */

