/* add custom styles */

@media screen and (max-width: 800px) {
  .progressBar {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .containerLeft {
    position: fixed;
    min-width: 600px;
    max-width: 800px;
  }
}


body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 250%;
}
h3 {

}
h4 {

}
h5 {

}

/*.containerLeft{
  min-width: 800px;
  position: fixed;
  top: 0%;
  left: 0%;
  border: solid 1px red;
  z-index: 2;
}*/

/* logo/ timer area */
.logo {
  max-width: 350px;
  min-width: 200px;
  position: fixed;
  top: 0%;
  left: 2%;
  z-index: 0;
  /*border: solid 1px black;*/
}
#timer {
  /*border: solid 1px black;*/
}
/* end logo/ timer area */


/* language start & end area */
#start {
  width: 15%;
  position: fixed;
  top: 3%;
  right: 55%;
  text-align: center;
  z-index: 0;
  /*border: solid 1px black;*/
}
#startModal{
  font-size: 33px;
  font-color: green;
  width: 15%;
  position: fixed;
  top: 4%;
  right: 52%;
  text-align: center;
  z-index: 2;
}
#end {
  width: 15%;
  position: fixed;
  top: 3%;
  right: 30%;
  text-align: center;
  z-index: 0;
  /*border: solid 1px black;*/
}
#arrow1_image {
  min-width: 60px;
  position: fixed;
  top: 6%;
  right: 46%;
  z-index: 0;
  /*border: solid 1px black;*/
}
/* end language start & end area */



/* play area */
.playArea {
  /*border: solid 1px black;*/
}
#word {
  width: 70%;
  position: fixed;
  top: 28%;
  right: 30%;
/*  border: solid 1px black;*/
  text-align: center;
}
#arrowDown {
  max-width: 40px;
  min-width: 20px;
  position: fixed;
  top: 55%;
  right: 62%;
  /*border: solid 1px black;*/
}
#guessInput {
  width: 60%;
  position: fixed;
  top: 70%;
  right: 35%;
}
input, input[placeholder]{
font-weight:bold;
    color: green;
    text-align:center;
border-radius: 25px;
}
#submit {
  width: 20%;
  position: fixed;
  top: 78%;
  right: 55%;
  border-radius: 25px;
}
/* end play area */

/* OPTIONAL */
#modal-746724 {
  width:70%;
  position: fixed;
  bottom: 10%;
  right: 30%;
}

/* progress bar area */
.progressBar {
  width: 30%;
  height: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  background: #A3CCCC;
  z-index: 0;
  text-align: center;
  /*border: solid 1px black;*/
}
.progress {
  width: 90%;
  position: relative;
  right: -5%;
  border-radius: 25px;
}
#progress {
  /*border: solid 1px black;*/
}
#challenges {
  /*border: solid 1px black;*/
}
#circle1 {
  /*border: solid 1px black;*/
}
#words {
  /*border: solid 1px black;*/
}
#circle2 {
  /*border: solid 1px black;*/
}
/* end progress bar area */
