/* add custom styles */
body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 70px;
}
h2 {
  font-size: 250%;
}
h3 {

}
h4 {

}
h5 {

}

.containerLeft{
  min-width: 500px;
  position: fixed;
  top: 0%;
  left: 0%;
  border: solid 1px red;
}

/* logo/ timer area */
.logo {
  max-width: 350px;
  min-width: 200px;
  position: fixed;
  top: 0%;
  left: 2%;
  z-index: 0;
  /*border: solid 1px black;*/
}
#timer {
  /*border: solid 1px black;*/
}
/* end logo/ timer area */


/* language start & end area */
.languages {
  width: 25%;
  position: fixed;
  top: 15px;
  right: 30%;
  z-index: 0;
  /*border: solid 1px black;*/
}
#start {
  width: 15%;
  position: fixed;
  top: 15px;
  right: 55%;
  text-align: center;
  z-index: 0;
  /*border: solid 1px black;*/
}
#arrow1_image {
  min-width: 60px;
  position: fixed;
  top: 30px;
  right: 46%;
  z-index: 0;
  /*border: solid 1px black;*/
}
#blackArrow {
  max-width: 50px;
  min-width: 40px;
  position: fixed;
  top: 15%;
  right: 40%;
  z-index: 0;
  /*border: solid 1px black;*/
}
#greenArrow {
  max-width: 50px;
  min-width: 40px;
  position: fixed;
  top: 15%;
  right: 65%;
  z-index: 0;
  /*border: solid 1px black;*/
}
#end {
  width: 15%;
  position: fixed;
  top: 15px;
  right: 30%;
  text-align: center;
  z-index: 0;
  /*border: solid 1px black;*/
}
#startLang {
  width: 15%;
  position: fixed;
  top: 90px;
  right: 55%;
  z-index: 0;
  /*border: solid 1px black;*/
}
#endLang {
  width: 15%;
  position: fixed;
  top: 90px;
  right: 30%;
  z-index: 0;
  /*border: solid 1px black;*/
}
/* end language start & end area */



/* play area */
.playArea {
  /*border: solid 1px black;*/
}
#word {
  font-size: 200px;
  width: 70%;
  position: fixed;
  top: 35%;
  right: 30%;
/*  border: solid 1px black;*/
  text-align: center;
}
#arrowDown {
  max-width: 40px;
  min-width: 20px;
  position: fixed;
  top: 58%;
  right: 62%;
  /*border: solid 1px black;*/
}
#guessInput {
  width: 60%;
  position: fixed;
  top: 70%;
  right: 35%;
}
input, input[placeholder]{
font-weight:bold;
    color: green;
    text-align:center;
border-radius: 25px;
}
#submit {
  position: fixed;
  top: 78%;
  right: 58%;
  border-radius: 25px;
}
/* end play area */

/* OPTIONAL */
#modal-746724 {
  width:70%;
  position: fixed;
  bottom: 10%;
  right: 30%;
}

/* OPTIONAL checking answers area */
#guessHeader {
  visibility: hidden;
  position: fixed;
  top: 63%;
  right: 80%;
  /*border: solid 1px black;*/
}
#greenArrow2 {
  visibility: hidden;
  /*border: solid 1px black;*/
}
#guess {
  visibility: hidden;
  position: fixed;
  top: 83%;
  right: 77%;
  /*border: solid 1px black;*/
  /*border: solid 1px black;*/
}
      /* validation area */
#correct {
  visibility: hidden;
  position: fixed;
  top: 70%;
  right: 32%;
  /*border: solid 1px black;*/
}
#wrong {
  visibility: hidden;
  position: fixed;
  top: 70%;
  right: 38%;
  /*border: solid 1px black;*/
}
#answerHeader {
  visibility: hidden;
  position: fixed;
  top: 63%;
  right: 40%;
  /*border: solid 1px black;*/
}
#answer {
  visibility: hidden;
  position: fixed;
  top: 83%;
  right: 37%;
  /*border: solid 1px black;*/
}
#greenArrowGuess {
  visibility: hidden;
  max-width: 60px;
  min-width: 50px;
  position: fixed;
  top: 76%;
  right: 84%;
}
#blackarrowGuess {
  visibility: hidden;
  max-width: 60px;
  min-width: 50px;
  position: fixed;
  top: 76%;
  right: 45%;
  /*border: solid 1px black;*/
}
      /* endvalidation area */

/* end checking answers area */


/* progress bar area */
.progressBar {
  width: 30%;
  height: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  background: #A3CCCC;
  z-index: 0;
  text-align: center;
  /*border: solid 1px black;*/
}
#progress {
  /*border: solid 1px black;*/
}
#challenges {
  /*border: solid 1px black;*/
}
#circle1 {
  /*border: solid 1px black;*/
}
#words {
  /*border: solid 1px black;*/
}
#circle2 {
  /*border: solid 1px black;*/
}
/* end progress bar area */
