/* add custom styles */
body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {

}
h2 {

}
h3 {

}
h4 {

}
h5 {

}



/* logo/ timer area */
.logo {
  max-width: 350px;
  min-width: 200px;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 0;
  /*border: solid 1px black;*/
}
#timer {
  /*border: solid 1px black;*/
}
/* end logo/ timer area */


/* language start & end area */
.languages {
  width: 25%;
  position: fixed;
  top: 15px;
  right: 30%;
  z-index: 0;
  /*border: solid 1px black;*/
}
#start {
  width: 15%;
  position: fixed;
  top: 15px;
  right: 55%;
  text-align: center;
  z-index: 0;
  /*border: solid 1px black;*/
}
#arrow1_image {
  min-width: 60px;
  position: fixed;
  top: 30px;
  right: 46%;
  z-index: 0;
  /*border: solid 1px black;*/
}
#blackArrow {
  max-width: 50px;
  min-width: 40px;
  position: fixed;
  top: 15%;
  right: 40%;
  z-index: 0;
  /*border: solid 1px black;*/
}
#greenArrow {
  max-width: 50px;
  min-width: 40px;
  position: fixed;
  top: 15%;
  right: 65%;
  z-index: 0;
  /*border: solid 1px black;*/
}
#end {
  width: 15%;
  position: fixed;
  top: 15px;
  right: 30%;
  text-align: center;
  z-index: 0;
  /*border: solid 1px black;*/
}
#startLang {
  width: 15%;
  position: fixed;
  top: 90px;
  right: 55%;
  z-index: 0;
  /*border: solid 1px black;*/
}
#endLang {
  width: 15%;
  position: fixed;
  top: 90px;
  right: 30%;
  z-index: 0;
  /*border: solid 1px black;*/
}
/* end language start & end area */



/* play area */
.playArea {
  /*border: solid 1px black;*/
}
#word {
  font-size: 200px;
  max-width: 200px;
  min-width: 150px;
  position: fixed;
  top: 30%;
  right: 55%;
  /*border: solid 1px black;*/
}
#arrowDown {
  max-width: 40px;
  min-width: 20px;
  position: fixed;
  top: 44%;
  right: 64%;
  /*border: solid 1px black;*/
}
#guessInput {
/*  max-width: 300px;
  min-width: 150px;*/
  position: fixed;
  top: 55%;
  right: 43%;
}
input, input[placeholder]{
font-weight:bold;
    color:red;
    text-align:center;
border-radius: 25px;
}
/* end play area */



/* checking answers area */
#guessHeader {
  position: fixed;
  top: 63%;
  right: 80%;
  /*border: solid 1px black;*/
}
#greenArrow2 {
  /*border: solid 1px black;*/
}
#guess {
  position: fixed;
  top: 83%;
  right: 77%;
  /*border: solid 1px black;*/
  /*border: solid 1px black;*/
}
      /* validation area */
#correct {
  position: fixed;
  top: 70%;
  right: 32%;
  /*border: solid 1px black;*/
}
#wrong {
  position: fixed;
  top: 70%;
  right: 38%;
  /*border: solid 1px black;*/
}
#answerHeader {
  position: fixed;
  top: 63%;
  right: 40%;
  /*border: solid 1px black;*/
}
#answer {
  position: fixed;
  top: 83%;
  right: 37%;
  /*border: solid 1px black;*/
}
#greenArrowGuess {
  max-width: 60px;
  min-width: 50px;
  position: fixed;
  top: 76%;
  right: 84%;
}
#blackarrowGuess {
  max-width: 60px;
  min-width: 50px;
  position: fixed;
  top: 76%;
  right: 45%;
  /*border: solid 1px black;*/
}
      /* endvalidation area */

/* end checking answers area */


/* progress bar area */
.progressBar {
  width: 30%;
  height: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  background: #A3CCCC;
  z-index: 0;
  text-align: center;
  /*border: solid 1px black;*/
}
#progress {
  /*border: solid 1px black;*/
}
#challenges {
  /*border: solid 1px black;*/
}
#circle1 {
  /*border: solid 1px black;*/
}
#words {
  /*border: solid 1px black;*/
}
#circle2 {
  /*border: solid 1px black;*/
}
/* end progress bar area */
